.user
    position: absolute
    top: 60px
    right: 1%
    text-align: center
    p 
        margin: 0
        text-align: left
    button
        border: 2px black solid


.foot
    position: absolute
    width: 100%
    left: 0
    right: 0
    text-align: center

.comment
    margin: auto
    left: 0
    right: 0
    width: 45%
    .loa 
        width: 99%
        height: 65px
        resize: none