<IfModule dir_module>
    DirectoryIndex test.php test.html
</IfModule>
AddDefaultCharset UTF-8
AddCharset UTF-8 .html
AddHandler application/x-httpd-php .html
<FilesMatch "\.(html)$">
   Header set Cache-Control: "no-cache, no-store"
   Header unset ETag
</FilesMatch>
Header set X-Content-Type-Options nosniff